* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
    box-sizing: border-box;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table {
    width: 100%;
    max-width: 900px;
    margin: 2px auto;
    border-collapse: collapse;
}

table th {
    cursor: pointer;
}
.faIdUp,
.faIdDown,
.faNameUp,
.faNameDown {
    display: none;
}

section {
    display: flex;
    flex-direction: column;
}

section input {
    width: 900px;
    margin: 10px auto;
    padding: 8px;
    outline: none;
    border: 1px solid #ccc;
}

.box {
    display: flex;
    width: 900px;
    margin: 10px auto;
}

.box input {
    margin: 0 10px 0 0;
    border: 1px solid black;
    border-radius: 5px;
}

.box button {
    background-color: aqua;
    padding: 8px 15px;
    border-radius: 5px;
}
.boxDel {
    display: flex;
    width: 900px;
    margin: 10px auto;
}

.boxDel input {
    width: 130px;
    margin: 0 10px 0 0;
    border: 1px solid black;
    border-radius: 5px;
}

.boxDel button {
    background-color: red;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
}
