footer {
  padding: 2% 0;
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      margin: 0;
      a {
        color: red;
      }
    }
    nav {
      ul {
        display: flex;
        gap: 30px;
        margin: 0;
        li {
          a {
            width: 40px;
            height: 40px;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
              color: white;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 992px) {
    .footer {
      flex-direction: column;
      nav {
        margin-top: 20px;
      }
    }
  }
}
.arrow-up {
  display: none;
  i {
    background-color: red;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 900;
  }
}
