.header {
  .burger-modal {
    position: fixed;
    z-index: 999;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.711);
    top: 86px;
    padding: 8% 0;
    nav {
      ul {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
        li {
          // .dropdown {
          //   button {
          //     background-color: transparent;
          //     border: none;
          //     color: #fff;
          //     padding: 0;
          //     vertical-align: 0%;
          //     outline: none;
          //     font-size: 16px;
          //     &:focus {
          //       border: none;
          //       box-shadow: none;
          //     }
          //   }
          //   .dropdown-menu {
          //     display: none;
          //     border: none;
          //     a {
          //       color: #000;
          //       &:hover {
          //         color: $primary-color;
          //         background-color: transparent;
          //       }
          //     }
          //   }
          //   &:hover {
          //     .dropdown-menu {
          //       display: block;
          //     }
          //   }
          // }
          a {
            color: white;
          }
        }
      }
    }
    @media only screen and (min-width:769px){
      display: none !important;
    }
  }

  // background-color: aquamarine;
  // padding: 15px 0;
  .header-top {
    border-bottom: 1px solid rgba(177, 177, 177, 0.527);
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h5 {
        font-size: 14px;
      }
      a {
        color: black;
        i {
          color: white;
          background-color: #f6214b;
          margin-left: 10px;
          padding: 30px 35px;
        }
      }
      .header-icon-div {
        margin: 30px 0;
        display: none;
        .fa-xmark {
          font-size: 23px;
        }
      }
    }
  }
  .header-bottom {
    nav {
      // text-align: center;
      ul {
        display: flex;
        justify-content: center;
        li {
          margin: 12px 15px;
          a {
            font-size: 12px;
            color: black;
            font-weight: 600;
            &:hover {
              color: #f6214b;
            }
          }
        }
        .li-home {
          a {
            color: #f6214b;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .header-top {
      .container {
        h5 {
          display: none;
        }
        a {
          display: none;
        }
        .header-icon-div {
          display: block;
          .fa-xmark {
            display: none;
          }
        }
      }
    }
    .header-bottom {
      display: none;
    }
  }
}
